@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-table-pagination{
    color: white !important;
}


.ant-pagination-item-active a{
    background-color: #1E1E1E !important;
    color: white !important;
    border-radius: 4px;
}
